[Unit]
Description = catalogue Service
[Service]
User=roboshop
Environment=MONGO=true
Environment=REDIS_HOST=redis-{{ENV}}.roboshop.internal
Environment=MONGO_URL="mongodb://mongodb-{{ENV}}.roboshop.internal:27017/users"
ExecStart=/bin/node /hocatalogueme/roboshop/user/server.js
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-.target
